<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.karina.app.professor.ProfessorMapper">
  <sql id="search">WHERE PROFESSOR_NAME LIKE '%'||#{search}||'%'</sql>
  	<select id="getCount" resultType="Long">
	 SELECT COUNT(PROFESSOR_NO) FROM TB_PROFESSOR
	 <include refid="search"></include>
	 </select>
  	<select id="list" resultType="ProfessorDTO" parameterType="Pager">
  	
  	SELECT * FROM
		(SELECT ROWNUM R,T.* FROM 
			(SELECT * FROM TB_PROFESSOR 
			<include refid="search"></include>
			ORDER BY PROFESSOR_NO DESC) T)
 	WHERE R BETWEEN #{first} AND #{last}
 
  	</select>
  	<select id="detail" parameterType="ProfessorDTO" resultType="ProfessorDTO">
  	SELECT * FROM TB_PROFESSOR 
  	WHERE PROFESSOR_NO = #{professorNo}
  	</select>
  	<insert id="create" parameterType="ProfessorDTO">
  	INSERT INTO TB_PROFESSOR
  	VALUES(#{professorNo},#{professorName},#{professorSsn},#{professorAddress},#{departmentNo})
  	</insert>
  	<update id="update" parameterType="ProfessorDTO">
  	UPDATE TB_PROFESSOR
  	SET
  	PROFESSOR_NAME=#{professorName},
  	PROFESSOR_SSN=#{professorSsn},
  	PROFESSOR_ADDRESS=#{professorAddress},
  	DEPARTMENT_NO=#{departmentNo}
  	WHERE PROFESSOR_NO=#{professorNo}
  	</update>
  	<delete id="delete" parameterType="ProfessorDTO">
  	DELETE FROM TB_PROFESSOR
  	WHERE PROFESSOR_NO=#{professorNo}
  	</delete>
  	
  
  </mapper>