<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 네임스페이스에 얘를 사용할 클래스명을 풀패키지명으로 작성한다 FQDN(정규화된 도메인이름) -->
  <mapper namespace="com.karina.app.board.notice.NoticeMapper">
  <!-- File -->
  <insert id="createFile" parameterType="NoticeFileDTO">
  
  INSERT INTO TB_NOTICEFILE
  VALUES (NOTICE_NO_SEQ.NEXTVAL,#{noticeNo},#{fileName},#{oriName})
  </insert>
  
  <!-- File 끝-->
  
  <sql id="search">
  WHERE
  <choose>
  <when test="kind=='v2'">CONTENTS</when>
  <when test="kind=='v3'">WRITER</when>
  <otherwise>TITLE</otherwise>
  
  </choose>
  LIKE '%'||#{search}||'%' <!-- 반복적으로 사용하는 쿼리는 저장해놨다가 include로 꺼내서사용 -->
  </sql>
  
 <!--  리스트 -->
 <select id="getCount" resultType="Long" parameterType="Pager">
	 SELECT COUNT(NOTICE_NO) FROM TB_NOTICE 
	 <include refid="search"></include>
 </select>
 
  <select id="list" resultType="NoticeDTO" parameterType="Pager">
  
 	SELECT * FROM
		(SELECT ROWNUM R,T.* FROM
			(SELECT * FROM TB_NOTICE 
		 <include refid="search"></include>
			ORDER BY NOTICE_NO DESC) T
		) 
	WHERE R BETWEEN #{first} AND #{last}
  
  </select>
  <!-- 디테일 -->
  <select id="detail" parameterType="NoticeDTO" resultMap="detailResult">
 	SELECT * FROM TB_NOTICE N LEFT 
 	JOIN TB_NOTICEFILE NF 
	ON N.NOTICE_NO = NF.NOTICE_NO
	WHERE N.NOTICE_NO =#{noticeNo}
  </select>
  
 
  <resultMap type="NoticeDTO" id="detailResult">
  <!-- 프라이머리키를 id에 넣는다 -->
  <id column="NOTICE_NO" property="noticeNo"/>
  <!-- 프라이머리키를 제외한 나머지 -->
  <result column="TITLE" property="title"/>
  <result column="CONTENTS" property="contents"/>
  <result column="WRITER" property="writer"/>
  <result column="CREATEDATE" property="createdate"/>
  <result column="HIT" property="hit"/>
 	
  <!-- 1:1일떼-->
  <!-- <association property="" javaType="">
 		<id/>
 		<result/>
	 </association>  -->
  <!-- 1:N -->
  <collection property="list" javaType="java.util.List" ofType="NoticeFileDTO">
  <id column="FILE_NO" property="fileNo"/>
  
  <result column="FILE_NAME" property="fileName"/>
  <result column="ORI_NAME" property="oriName"/>
  </collection>
  
  
  </resultMap>
  <!-- 크리에이트 -->
  <insert id="create" parameterType="NoticeDTO">
  <selectKey order="BEFORE" resultType="Long" keyProperty="noticeNo">
  SELECT NOTICE_NO_SEQ.NEXTVAL FROM DUAL
  </selectKey>
  INSERT INTO TB_NOTICE
  VALUES (#{noticeNo},#{title},#{contents},#{writer},sysdate,0)
  </insert>
  
  </mapper>