<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 네임스페이스에 얘를 사용할 클래스명을 풀패키지명으로 작성한다 FQDN(정규화된 도메인이름) -->
  <mapper namespace="com.karina.app.board.notice.NoticeMapper">
 <!--  리스트 -->
 <select id="getCount" resultType="Long">
	 SELECT COUNT(NOTICE_NO) FROM TB_NOTICE
 </select>
 
  <select id="list" resultType="NoticeDTO" parameterType="Pager">
  <![CDATA[
 	SELECT * FROM
		(SELECT ROWNUM R,T.* FROM
			(SELECT * FROM TB_NOTICE ORDER BY NOTICE_NO DESC) T
		) 
	WHERE R BETWEEN #{first} AND #{last}
  ]]>
  </select>
  <!-- 디테일 -->
  <select id="detail" parameterType="NoticeDTO" resultType="NoticeDTO">
  
  </select>
  <!-- 크리에이트 -->
  <insert id="create" parameterType="NoticeDTO">
  INSERT INTO TB_NOTICE
  VALUES (NOTICE_NO_SEQ.NEXTVAL,#{title},#{contents},#{writer},sysdate,0)
  </insert>
  
  </mapper>